[Desktop Entry]
Type=Application
Name=User Wallet
Comment=Experience the future of apps
Exec=user-wallet
Icon=user-wallet
Categories=Office;Finance;
StartupNotify=true
StartupWMClass=user-wallet
